<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="io.gatling" level="DEBUG"/>
    <logger name="io.gatling.http" level="DEBUG"/>
    <logger name="io.netty" level="DEBUG"/>
    <logger name="com.intuit.karate" level="DEBUG"/>

    <!-- Root logger -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
